{% extends "base.html" %}
{% block title %} Create Blog {% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" class="p-4 border rounded">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="blog_title" class="form-label">Blog Title</label>
                    <input type="text" name="blog_title" class="form-control" placeholder="Enter Title" required>
                </div>
                <div class="mb-3">
                    <label for="blog_content" class="form-label">Blog Content</label>
                    <textarea name="blog_content" class="form-control" placeholder="Enter Content" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="blog_tags" class="form-label">Blog Tags</label>
                    <div>
                        {% for tag in tags %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="blog_tags" value="{{ tag.id }}" id="tag{{ tag.id }}">
                                <label class="form-check-label" for="tag{{ tag.id }}">
                                    {{ tag.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-success w-100">Create</button>
            </form>
            <br> <hr> <br>
        </div>
    </div>
{% endblock %}