{% extends "base.html" %}
{% block title %} Blogs List {% endblock %}
{% block content %}
<br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 style="text-align: center">All Blogs List</h4> <br> <br>
            {% if blogs %}
                {% for blog in blogs %}
                    <div class="mb-3">
                        <div class="p-3 border rounded">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5>{{ forloop.counter }}. <a href="{% url "view_blog" blog_id=blog.id %}"> {{ blog.title }}</a></h5>
                                <a href="{% url 'update_blog' blog_id=blog.id %}" class="btn btn-warning btn-sm">Update</a>
                            </div>
                            <div class="mt-2">
                                <ul class="list-inline">
                                    {% for tag in blog.tags.all %}
                                        <li class="list-inline-item">
                                            <span class="badge bg-primary">{{ tag.name }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <p>{{ blog.content|slice:":20"}}...</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-info">
                <h4 style="text-align: center">No Blogs Created Yet</h4>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}