{% extends "base.html" %}

{% block title %} Blogs Page {% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" class="p-4 border rounded">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="blog_title" class="form-label">Blog Title</label>
                    <input type="text" name="blog_title" class="form-control" placeholder="Enter Title" required>
                </div>
                <div class="mb-3">
                    <label for="blog_content" class="form-label">Blog Content</label>
                    <textarea name="blog_content" class="form-control" placeholder="Enter Content" required></textarea>
                </div>
                <button type="submit" class="btn btn-success w-100">Create</button>
            </form>
            <br> <hr> <br>
            {% if blog_title %}
                <h4 style="text-align: center"> {{ blog_title }} </h4> <br> <br>
                <p style="text-align: center"> {{ blog_content }}</p>
            {% else %}
            <div class="alert alert-info">
                <h4 style="text-align: center">No Blog Created Yet</h4>
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
