{% extends "base.html" %}
{% block title %} Update Blog {% endblock %}
{% block content %}
<br>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h4 style="text-align: center">Update Blog</h4> <br> <br>
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="blog_title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="blog_title" name="blog_title" value="{{ blog.title }}">
                </div>
                <div class="mb-3">
                    <label for="blog_content" class="form-label">Content</label>
                    <textarea class="form-control" id="blog_content" name="blog_content" rows="5">{{ blog.content }}</textarea>
                </div>
                <div class="mb-3">
                    <label for="blog_tags" class="form-label">Tags</label>
                    <div>
                        {% for tag in tags %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="blog_tags" value="{{ tag.id }}" id="tag{{ tag.id }}" {% if tag in blog.tags.all %} checked {% endif %}>
                                <label class="form-check-label" for="tag{{ tag.id }}">
                                    {{ tag.name }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Update Blog</button>
            </form>
        </div>
    </div>
{% endblock %}